body{
  background-color: lightseagreen;
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  font-family: 'Noto Sans JP', sans-serif;
  background-image: url("img/men-4451375.svg");
}
input[type = submit]{
  cursor:pointer;
}
input[type = checkbox]{
  cursor:pointer;
}
input[type = text]{
  font-family: 'Noto Sans JP', sans-serif;
}
input[type = password]{
  font-family: 'Noto Sans JP', sans-serif;
}
.button:hover{
  box-shadow: 0 3px 3px 0 lightseagreen, 0 3px 3px 0 lightseagreen;
}
.container{
  display: inline-block;
  background-color: #f0ffff;
  border-left: 2em solid #f0ffff;
  border-right: 4em solid #f0ffff;
  border-top: 1em solid #f0ffff;
  border-right: 4em solid #f0ffff;
  border-radius: 2em;
  box-shadow: 1em 1em 2em .25em rgba(0,0,0,.2);
  margin-left: 53%;
  margin-top: 1%;
}
.container p{
  text-align: center;
}
h1{
  color: #fff;
  margin-left: 53%;
  margin-top: 2.5%;
}
table{
  margin: 4%;
}
table th {
  font-weight: 300;
  font-size: 13px;
}
.box{
  height: 40px;
}
.button{
  outline: none;
  display: inline-block;
  font-weight: 800;
  font-family: 'Noto Sans JP', sans-serif;
  background-color: lightseagreen;
  color: #fff;
  border: 0.25em solid #f0ffff;
  border-radius: 1em;
  text-align: center;
  margin-left: 0px;
  margin-right: 10px;
  padding-left: 203px;
  padding-right: 203px;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 0px;
}
